body {
  background-image: url("./mars.jpg");
 }

 .header-complet{
  top:0;left:0;position:absolute;z-index:100;background-color: rgba(85, 85, 85, 0.5);width:100%;
 }

 .header-complet.dans-header{
  position:relative;z-index:101;float:right;margin-right:0%;margin-top:2px;margin-bottom:2px;
 }

 .header-complet.dans-header.header-contenu{
  color:#eee;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;padding-right:8px;padding-right:10px;line-height:16px;
 }

 .header-complet.dans-header.header-contenu.header-plus{
  font-size:16px;margin-left:6px;float:right;font-weight:bold;
 }

 .header-complet.dans-header.header-contenu.header-texte{
  float:right;
 }